
<!-- <mat-toolbar color="primary" class="navigation">

   <mat-toolbar-row>
   
   <span class="title-content">Kanban Board</span>
   
   <span class="spacer"></span>
   <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/register">Sign Up</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/kanban">Kanban</button>
   
   
 </mat-toolbar-row>
 </mat-toolbar> -->
    
<router-outlet></router-outlet>

<mat-toolbar color="primary">
   <mat-toolbar-row> 
      <span style="padding-left:38%">&copy;&nbsp;|&nbsp;Innovations Lab, Trivandrum 2019</span>
   </mat-toolbar-row>
</mat-toolbar>
 