<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--its not an angular material-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="height:80%;">
  <div *ngIf="project.length>0; else noProject">
    <h5 style="padding-left:23px;font-family:Arial, Helvetica, sans-serif;font-weight:bold">Your Projects:</h5>
    <mat-card id="whole" class="mat-elevation-z5" [style.overflow]="'auto'" [style.height.px]="'325'">

      <mat-grid-list cols="3" rowHeight="2:1">

        <div *ngFor="let projects of project">

          <mat-grid-tile style="padding-left:2px;">
            <!-- <a style="text-align:center;" class="projectdisplay" (click)='fetchproject(projects.projectId)'> -->
            <mat-card id="inside" class="mat-elevation-z4">
              <mat-card-content style="font-size:20px;">
                <b>{{projects.projectName}}</b>
              </mat-card-content>
              <!-- Description: {{projects.projectDescription}}<br> -->
              <button class="view" style="float:right;" mat-button
                (click)='fetchproject(projects.projectId)'>View</button>

            </mat-card>
            <!-- </a> -->
          </mat-grid-tile>
        </div>

      </mat-grid-list>
    </mat-card>
    <div>

      <mat-icon style="cursor: pointer" matTooltip="Click to create project" (click)="loadForm()" class="add-button"
        color="primary">add_circle</mat-icon>
      <h3 class="add">Add Project</h3>
    </div>
  </div>
  <!-- <div *ngFor="name in project">
    List of projects owned by {{username}}<br>
    {{name.projectName}}
  </div> -->
  <ng-template #noProject>
    <!--   -->
    <div style="display:inline-block; padding-top:15%">
      <h4 style="font-weight: bold;">No project exists. Create a new project now!</h4><br>
      <mat-icon style="cursor: pointer" matTooltip="Click to create project" (click)="loadForm()" class="add-button-1"
        color="primary">add_circle</mat-icon>
    </div>
  </ng-template>
</body>